<div id="game-render" *ngIf="renderGame" img src="../assets/img/cartoon-snake.png" alt="cartoon-snake" width="160" height="160" class="center">



  <header id="center">
    <h1 >Hello, {{playerName}}</h1>
    <p>your email:  {{playerEmail}}</p>
    <p>your best score: {{highScore}}</p>
  </header>


  <ngx-snake #game class="center"
    (foodEaten)="onGrow()"
    (gameOver)="onGameOver()">
  </ngx-snake>


<table class="scoreBoard" class="center">
<tr>
<div>
  <td>
    <div>
      <p>Score</p>
      <p>{{currentScore}}</p>
    </div>
  </td>
  <td>
    <div>
    <p>Time played<p>
    <p>{{timePlayedSec}}</p>
    </div>
  </td>
</div>
<div class="button" id="center">
  <button (click)="exitGame()">EXIT GAME</button>
</div>
<td></td>
</tr>
</table>

<table class="controls" class="center">
<tr>
    <td><button (click)="game.actionStart()">Start (Space)</button></td>
    <td><button (click)="game.actionStop()">Stop (Space)</button></td>
    <td><button (click)="this.resetGame()">Reset</button></td>
    <td></td>
</tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr>
    <td></td>
    <td><button (click)="game.actionUp()">Move Up (arrow Up)</button></td>
</tr>
<tr>
    <td><button (click)="game.actionLeft()">Move Left (arrow Left)</button></td>
    <td></td>
    <td><button (click)="game.actionRight()">Move Right (arrow Right)</button></td>

</tr>
<tr>
    <td></td>
    <td><button (click)="game.actionDown()">Move Down (arrow Down)</button></td>
</tr>
<tr style="height: 20px">
    <td></td>
</tr>
</table>
</div>